__pycache__/
.DS_Store
main
.idea
mythic_go_services.bin
Mythic_Doc/
.playwright-cli/*
Payload_Type/my_agent_service/.env
Payload_Type/my_agent_service/.env.local
Payload_Type/my_agent_service/.generated/
Payload_Type/my_agent_service/mythic_go_services
Payload_Type/my_agent_service/service.log
C2_Profiles/masked_https/.env
C2_Profiles/masked_https/.env.local
C2_Profiles/masked_https/.generated/
C2_Profiles/masked_https/mythic_go_services
C2_Profiles/masked_https/server/masked_https_server
C2_Profiles/masked_https/server/.generated/
node_modules/
.playwright-cli/